/*
BASE
*/
body {
    margin-inline: 2rem;
    margin-block: 2rem;
}

/*
LAYOUT
*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 720px;
    max-height: 720px;
    min-width: 480px;
    min-height: 480px;
    display: grid;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

/*
APPEARANCE
*/
.container > div {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

button {
    display: inline-block;
    width: 15ch;
}
